/* src/components/Toolbar.css */

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, color 0.1s ease; /* Changed color transition to 0.1s */
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 100%;
  margin: 0 auto;
}

.logo-title {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
}

.logo {
  height: 30px;
  width: auto;
  margin-right: 10px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items li {
  margin: 0 1rem;
}

.nav-items a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.1s ease; /* Ensure link color transitions are also fast */
}

.toolbar.dark {
  color: #ffffff;
}

.toolbar.dark .nav-items a {
  color: #ffffff;
}

@media (max-width: 768px) {
  .toolbar-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-items {
    display: none;
  }

  .logo-title {
    flex-grow: 0;
  }
}